*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun{
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: yellow;
    border-radius: 50px;
    /* animation: movingBox 2s infinite; */
}
.earth{
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: palevioletred;
    border-radius: 25px;
    animation: movingBox 2s infinite;
}
@keyframes movingBox{
    0%{
        top: -100px;
        left: 300px;
    }
    
    25%{
        top: -100px;
        left: 0px;
    }
    50%{
        top: 100px;
        left: -500px;
    }
    75%{
        top: 100px;
        right: 800px;
    }
    100%{
         top: -100px;
        left: 300px;
    }
}